/*font-family: 'Be Vietnam', sans-serif;
font-family: 'Poppins', sans-serif;*/


h1{
    text-align: center;
    font-family: 'Be Vietnam', sans-serif;
}

p{
    text-align: center;
    font-family: 'Poppins', sans-serif;;
    font-size: small;
}