/*font-family: 'Be Vietnam', sans-serif;
font-family: 'Poppins', sans-serif;*/


h1{
    display: flex;
    font-family: 'Be Vietnam', sans-serif;
}

p{
    display: flex;
    font-family: 'Poppins', sans-serif;;
    font-size: small;
}

.hero{
    background:url("../imgs/Background1.png");
    padding-bottom: 70%;
    background-size: cover;
    width: 100%;
    color: white;
}