/*font-family: 'Be Vietnam', sans-serif;
font-family: 'Poppins', sans-serif;*/
:root{
    --heading-font-family:'Be Vietnam', sans-serif;
    --default-font-family:'Poppins', sans-serif;
}

body{
    font-family: var(--default-font-family);
}

h1{
    font-family: var(--heading-font-family);
    text-align: center;
    padding-top: 250px;
}

p{
    text-align: center;
}

h2,h6{
    font-family: var(--heading-font-family);
    padding-left: 100px;
}

h4 {
    line-height: 40px;
    margin-left: 15px;
    font-family: var(--heading-font-family);
    font-size: 15px;
}

#heading{
    padding-top: 210px;
}

.hero{
    background:url("../imgs/Background1.png");
    background-size: cover;
    width: 100%;
    color: white;
    height: 100vh;
}

.hero h2{
    font-size: 80px;
}

.hero h6{
    font-size: 15px;
}

.homepage-link{
    color: white;
}

@media(max-width:576px){
    h2{
        text-align: left;
        padding-left: 7px;
    }
    h6{
        text-align: left;
        padding-left: 7px;
    }

    .about-me, .home{
        display: none;
    }
    
}

.homepage{
    background:url("../imgs/background2.jpg");
    background-size: cover;
    height: 100vh;
    width: 100%;
}

nav{
    padding: 12px 20px;
}

nav ul{
    padding: 0;
    margin-right: 20px;
}

nav li{
    display: inline;
    line-height: 40px;
    margin-left: 15px;
}

nav a{
    text-decoration: none;
    color:black;
    font-family: var(--default-font-family);
    font-size: 14px;
}

nav a:hover,
nav li.active a
{
    color:grey;
    transition: all 100ms ease-in-out;
}



.about-section h1{
    font-size: 25px;
    text-align: left;
    padding-bottom: 10px;
}

.about-section p{
    font-size: 12px;
    text-align: left;
}

.email-link{
    text-decoration: none;
    font-size: 12px;
    color: white;
}

#contact a:hover{
    color: rgb(253, 66, 175);
    transition: all 100ms ease-in-out;
}




